<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("PageScripts", false)
    @RenderSection("PageStyles", false)
</head>
<body>
    <div id="nav-bar" class="toggle">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
            <li>@Html.ActionLink("Interests", "Interests", "Home")</li>
            <li>@Html.ActionLink("Catalogue?", "Catalogue", "Home")</li>
            <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
        </ul>
    </div>
    <main class="toggle">
        <div>
            @RenderBody()
        </div>
    </main>
</body>
</html>
